/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
    scroll-behavior: smooth;

    @include respond(bp-large) {
        font-size: 56.25%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
    background-color: rgb(2, 12, 27);
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}