.about-me {
  width: 80%;
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 8rem;
  opacity: 0;
  transition: opacity 1s ease-out;

  @include respond(bp-small) {
    width: 90%;
  }

  &__content {
    display: flex;

    @include respond(bp-small) {
      flex-direction: column;

    }

  }

  &__description {
    flex: 1;
  }

  &__image {
    flex: 1;
  }
}

.about-me.animation {
  opacity: 1;
}